$background-color-desktop: hsl(221, 100%, 96%);
$result-container-color: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
$background-card-color: hsl(0, 0%, 100%);
$light-blue: hsl(241, 100%, 89%);
$result-caps: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
$dark-gray-blue: hsl(224, 30%, 27%);

$heading-m: 2.4rem;
$heading-l: 3.2rem;
$heading-xl: 7.2rem;
